{% extends 'base.html' %}

{% block title %} Hey, Nerd! {% endblock title %}

{% block content %}
<div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2 g-3">
    {% if type == "volumes" %}
        {% for product in products %}
        <div class="col d-flex align-items-stretch">
            <div class="card border-0 shadow-sm">
                <img src="{{ product.volume_main_image.url }}" class="card-img-top rounded-0"
                    alt="Image for {{ product.title | title }}">
                <div class="card-body rounded-0 bg-light">
                    <h6 class="card-subtitle text-muted pt-0 pb-2">{{ product.brand.brand_title }}</h6>
                    <h6 class="card-subtitle" style="height: 20px;"><a href="{{ product.get_absolute_url }}"
                            style="text-decoration: none;">{{ product.volume_title | title | truncatewords:8 }}</a></h6>
                    <div class="card-text">
                        <span>{{ product.volume_start }} - 
                        {% if product.volume_end == None %}
                            <span>Present</span>
                        {% else %}
                            <span>{{ product.volume_end }}</span>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% for product in products %}
        <div class="col d-flex align-items-stretch" id="{{ product.id }}">
            <div class="card border-0 shadow-sm">
                <img src="{{ product.main_image.url }}" class="card-img-top rounded-0 productImg"
                    alt="Image for {{ product.title | title }}">
                <div class="card-body rounded-0 bg-light">
                    <h6 class="card-subtitle text-muted pt-0 pb-2" id="productType">{{ product.brand.brand_title }}</h6>
                    <h6 class="card-subtitle" style="height: 30px;"><a href="{{ product.get_absolute_url }}"
                            id="productTitle"
                            style="text-decoration: none;">{{ product.title | title | truncatewords:8 }}</a></h6>
                    <div class="card-text pt-3">
                        <h5 class="text-end">&#8377;<span id="productPrice">{{ product.price }}</span></h5>
                        <button class="btn btn-dark w-100 p-lg-2 p-sm-1 p-1 addToCart" value="{{ product.id }}" >Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock content %}